@using TournamentManager.Data;
@using TournamentManager.ViewModels;
@model List<UserRoleViewModel>

@{
    ViewData["Title"] = "Registered Players";
}
<div class="text-center">
    <h2 class="display-4">Registered Players</h2>
    <br />
    <h4>This is the page that will display all registered players to the organizers.</h4>
    <p>(organizer view)</p>
    
</div>
<table>
    <thead>
        <tr>
            <th>Current Role</th>
            <th>Display Name</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Email</th>               
        </tr>
    </thead>
    <tbody>
        @foreach (var regPlayers in Model)
        {
            <tr>
                <td>@string.Join(", ", regPlayers.Roles)</td>
                <td>@regPlayers.User.DisplayName</td>
                <td>@regPlayers.User.LastName</td>
                <td>@regPlayers.User.FirstName</td>
                <td>@regPlayers.User.Email</td>                 
            </tr>
        }
    </tbody>
</table>
